body{
    background:#2DB2BD;
    color: #81078F;
    margin: 100px;
}
p{
    color: black;
    text-align: center;
}
.noun{
    font-weight: 500;
    color: white;
}
p.noun{
    color:white;
    font-weight: 700;
}
img{
  border: 2px solid #F5F527;
  border-radius: 8px;
  padding: 10px;
  width: 200px;
  background:brown;
  display: block;
  margin: auto;
}
span.command {color: #0A6E2D;
font-weight:1000;
}
span.section {font-weight:900;}
h3.worst {color: red;}
h1.end {text-align: center;}
p.end {text-align: center;}
span.img1 {display: block;
margin:auto;}
h1{text-align: center;}
h2{text-align: center;}
h3{text-align: center;}
ul{text-align: center;
list-style-position: inside;
}
ol{text-align: center;
list-style-position: inside;
}
table, th, td{text-align: center;
margin: auto;
border: 5px solid;
border-color:white;
border-collapse: collapse;
}
td.worst{color:red;}
th.worst{color:red;}
li.worst{color:red;}
span.worst{color:red;}

span.nountwo {font-weight: 800;
color: turquoise;
}
img.imgtwo{
  border: 2px solid #D10BE3;
  border-radius: 4px;
  padding: 0px;
  width: 400px;
  display: block;
  margin: auto;
}
body.pgtwo{background:#5C86C4;
    color: #72107A;
    margin: 100px;}
h1.pastheader{color: #B20E45;}
h2.pastheader{color: #B20E45;}
h3.pastheader{color: #B20E45;}
h4.pastheader{color: #B20E45;}
h5.pastheader{color: #B20E45;}
li.listtwo{color: #10225C;}
p.conclusion{font-style:italic;
font-weight:1000;
color: #CC167C;
background: white;
padding: 5px;
border: 2px solid #FA4848;
}