body{
    background:#6082B6;
    color: #963B3B;
    margin: 150px;
}
p{
    color: black;
}
.noun{
    font-weight: 900;
    color: black;
}
p.noun{
    color:purple;
}
img {
  border: 4px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  width: 150px;
}
